@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #faf9f7;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1rem;
  color: #49485e;
  line-height: 1.25;
}
#app {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
  @include _767-block {
    padding: 1rem;
  }
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  max-width: 332px;
  width: 100%;
  @include _1199-block {
    position: fixed;
    top: 0;
    height: 100%;
    left: -100%;
    background: #fff;
    transition: 0.3s;
    z-index: 10;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.15);
  }
  &-open {
    left: 0;
  }
  &-title {
    font-size: 1.75rem;
    color: #3f3f3f;
    font-weight: 600;
    margin-bottom: 1rem;
    @include _1199-block {
      padding-top: 1.5rem;
      padding-left: 1.5rem;
      font-size: 1.3rem;
      margin-bottom: 0;
    }
  }
  &-blog {
    background: #fffefb;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
      0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    @include _1199-block {
      padding-top: 0.5rem;
      box-shadow: unset;
    }
  }
}
.form {
  width: 100%;
  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    small {
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.02em;
      position: absolute;
      bottom: -12px;
      left: 0;
      color: #ff8484;
      opacity: 0;
      transition: 0.3s;
    }
    &.error {
      input {
        border: 1px solid #ff8484;
      }
      small {
        opacity: 1;
      }
    }
  }
  &-label {
    font-size: 0.625rem;
    letter-spacing: -0.02em;
    color: #49485e;
    font-weight: 400;
    position: relative;
    width: fit-content;
    margin-bottom: 4px;
    &__required {
      &::after {
        content: "";
        width: 4px;
        height: 4px;
        background: #ff8484;
        top: 0;
        right: -4px;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
  &-input,
  &-textarea {
    background: #fffefb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 9px 16px 10px;
    color: #3f3f3f;
    border: 1px solid transparent;
    transition: 0.3s;
    &::placeholder {
      color: #b4b4b4;
      font-size: 0.75rem;
    }
  }
  &-textarea {
    resize: none;
    min-height: 108px;
  }
  &-submit {
    width: 100%;
    background: #7bae73;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 16px 11px;
    font-size: 0.75rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
    &:hover {
      background: #5c9253;
    }
    &:disabled {
      background: #eeeeee;
      border-radius: 10px;
      box-shadow: none;
      color: #b4b4b4;
      cursor: not-allowed;
    }
  }
}
.items {
  width: calc(100% - 332px);
  margin-left: 1rem;
  @include _1199-block {
    width: 100%;
    margin-left: 0;
  }
  &-filter {
    max-width: 122px;
    width: 100%;
    background: #fffefb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 9px 16px 10px;
    font-weight: 500;
    color: #b4b4b4;
    font-size: 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/icons/arrow-down.svg) no-repeat;
    background-color: #fffefb;
    background-position: 88% center;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 32.4%);
    grid-gap: 1rem;
    justify-content: space-between;
    @include _991-block {
      grid-template-columns: repeat(2, 49.4%);
    }
    @include _575-block {
      grid-template-columns: repeat(1, 100%);
    }
  }
}
.card {
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  transition: all 0.3s;
  position: relative;
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1),
      0px 6px 10px rgba(0, 0, 0, 0.1);
    .card-delete {
      opacity: 1;
    }
  }
  &-img {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  &-body {
    padding: 1rem 1rem 1.5rem;
  }
  &-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #3f3f3f;
    font-weight: 600;
  }
  &-text {
    color: #3f3f3f;
    margin-bottom: 2rem;
  }
  &-price {
    font-weight: 600;
    font-size: 1.5rem;
  }
  &-delete {
    width: 2rem;
    height: 2rem;
    background: #ff8484;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  &-inner {
    display: flex;
    align-items: center;
  }
  @include _1199-block {
    justify-content: space-between;
  }
  input {
    margin-left: 1rem;
    background-image: url(../img/icons/Search.svg);
    background-position-x: 95%;
    max-width: 100%;
    width: 180px;
    display: block;
    color: #3f3f3f;
    &::placeholder {
      color: #b4b4b4;
    }
  }
}
.empty {
  margin-top: 3rem;
  text-align: center;
}
.modal {
  max-width: 300px;
  width: 100%;
  min-height: 250px;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  text-align: center;
  z-index: 10;
  .svg-box {
    display: inline-block;
    position: relative;
    width: 150px;
  }
  .green-stroke {
    stroke: #7cb342;
  }
  .circular circle.path {
    stroke-dasharray: 330;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    opacity: 0.4;
    animation: 0.7s draw-circle ease-out;
  }

  .checkmark {
    stroke-width: 6.25;
    stroke-linecap: round;
    position: absolute;
    top: 56px;
    left: 49px;
    width: 52px;
    height: 40px;
  }

  .checkmark path {
    animation: 1s draw-check ease-out;
  }
  @keyframes draw-circle {
    0% {
      stroke-dasharray: 0, 330;
      stroke-dashoffset: 0;
      opacity: 1;
    }

    80% {
      stroke-dasharray: 330, 330;
      stroke-dashoffset: 0;
      opacity: 1;
    }

    100% {
      opacity: 0.4;
    }
  }

  @keyframes draw-check {
    0% {
      stroke-dasharray: 49, 80;
      stroke-dashoffset: 48;
      opacity: 0;
    }

    50% {
      stroke-dasharray: 49, 80;
      stroke-dashoffset: 48;
      opacity: 1;
    }

    100% {
      stroke-dasharray: 130, 80;
      stroke-dashoffset: 48;
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.burger {
  display: none;
  cursor: pointer;
  @include _1199-block {
    display: flex;
  }
  width: 25px;
  height: 30px;

  justify-content: space-evenly;
  flex-direction: column;
  span {
    width: 100%;
    height: 2px;
    background: #3f3f3f;
  }
}
.close {
  display: none;
  @include _1199-block {
    display: block;
  }
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  span {
    width: 100%;
    height: 1px;
    background: #3f3f3f;
    display: block;
    position: absolute;
    top: 12px;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
